<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">Car Rental Service</a>
    </div>
    <div class="nav-links">
      <a nz-button nz-Type="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
      <a nz-button nz-Type="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">LoggedIn Admin</a>
    </div>
    <div class="nav-links">
      <a nz-button nz-Type="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nz-Type="link" routerLink="/admin/car" routerLinkActive="active">Post Car</a>
      <a nz-button nz-Type="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isCustomerLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">LoggedIn Customer</a>
    </div>
    <div class="nav-links">
      <a nz-button nz-Type="link" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nz-Type="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>